body {
  font-family: Arial, sans-serif;
  background: #0c0c0c;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(236, 167, 167);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h1, h2, h3 {
  text-align: center;
}

.form, .filtro {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input, .filtro input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background: #e6f36f;
  color: rgb(14, 13, 13);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fafafa;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
