body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(233, 161, 29);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin: 10px 0;
}

li a {
  color: #00bfff;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
