body {
  font-family: Arial, sans-serif;
  background: #080808;
  padding: 2rem;
  color: #333;
}

h2 {
  text-align: center;
  color: #fff;
}

input[type="text"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 250px;
}

button {
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: none;
  background: #a418c0;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #e57bfa;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  width: 800px;
}

li button {
  background: #e348f1;
}

li button:hover {
  background: #e718a9;
}

li button:last-child {
  background: #f44336;
}

li button:last-child:hover {
  background: #da190b;
}

button.clear {
  margin-top: 1rem;
  background: #f44336;
}

button.clear:hover {
  background: #da190b;
}
